@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import 'base/module';
@import 'components/module';
