doctype html
html(lang="en")
	head
		base(href="/")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")

		link(rel="stylesheet" href="style.css")
		title rocafoliort

	body
		nav
			block nav
				.navbar.d-flex.sticky-top.justify-content-sm-end.justify-content-center
					a.navbar-brand(href="/")
						em ROCA#[strong FOLIO]RT

		main
			block main

		footer
			.row.align-items-center
				.col.pr-0
					| &copy; #{new Date().getFullYear()}

		script(type="module" src="browser.js")
