extends index

block main
	.main-content
		.container
			h2
				span about
			.row.my-5
				.col-lg-4.mb-3.text-center
					img.img-fluid(src="images/joanne-side.png" alt="Joanne's photo")

				.col-lg-8
					p Hello! I am Joanne Rocafort, a California-based, Philippines-grown multimedia designer. I specialize in UI/UX web & app design, print design and photography. It is my 4th year working at #[a(href="https://codestack.org" target="_blank") CodeStack], the software development department of #[a(href="https://sjcoe.org" target="_blank") San Joaquin County Office of Education] as a UI/UX Specialist.
					p I teach design and mentor students and interns at #[a(href="https://codestackacademy.org" target="_blank") CodeStack Academy].
					p I am an alumna of De La Salle-College of Saint Benilde in Manila, Philippines with a bachelor of arts degree in Multimedia Arts.
					p I love Kinder Bueno and my favorite Animal Crossing villager is Teddy!
					p Please feel free to explore rocafoliort. If you like what you see, please feel free to #[a(href="mailto:joannemarie.rocafort@gmail.com") contact me] for more information.

			.row.text-center
				.col-lg-4.mb-4
					img.mb-4(src="images/tool.svg" alt="3D glasses icon" height="50")
					h3 Toolkit
					ul
						li Adobe XD
						li Adobe Photoshop, InDesign and Illustrator
						li Adobe Lightroom Classic
						li Git
						li Yarn
						li Node.js
						li VSCode
						li VS Team Services
						li Adobe Premiere Pro

				.col-lg-4.mb-4
					img.mb-3(src="images/frontend.svg" alt="Laptop icon" height="60")
					h3 Front-end kit
					ul
						li HTML
						li CSS
						li SASS
						li jQuery
						li JavaScript
						li Bootstrap framework
						li C#/MVC
						li Pug

				.col-lg-4.mb-4
					img.mb-3(src="images/soft.svg" alt="Sun icon" height="60")
					h3 Soft skills
					ul
						li Client communication
						li Collaboration
						li Independence
						li
							em "Sunny disposition"
						li
							em "Snazzy dresser"
						li Karaoke singing
						li Jokes
						li 5 star rice eater
