extends ../_showcase

block main
	.my-4
		img.img-fluid.border.border-danger.rounded-4(src="images/uiux/caps/landing.png")

	small.text-primary
		strong SHOWCASE
	h1
		| #[strong.text-danger Building a learning management system], catering to 480+ educational organizations & over 3,000 teachers and staff across California

	p 🖥️ #[strong.text-danger CaPS PD Now], for California Department of Education (CDE)      🚀 #[strong 1 designer], 3 cross-functional team members, 2 client representatives

	h2
		strong Opportunities

	p CDE partnered with our software development department to build a new learning management system for public education teachers and staff across California.

	p With this platform, we have the opportunity to:

	ul
		li Design a course builder for instructors and admins
		li Allow organization leaders to assign professional development courses to their staff and track individual and organization-wide progress
		li Create an intuitive experience for education employees navigate their assigned courses, resume where they left off and complete them

	h2
		strong Executed Strategies

	.row.align-items-center.my-5
		.col-lg-4.order-lg-last
			h3.text-primary
				strong At-A-Glance Dashboard

			p I designed a dashboard that aim to provide users with immediate access to their assigned courses from leaders, as well as the ability to continue their work-related courses right where they left off, right after they log in.

		.col
			img.img-fluid(src="images/uiux/caps/showcase/1.png")

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary
				strong Professional Development Course Experience

			p Users can progress through the series of educational materials in the course they are taking. Depending on the instructor's settings, they may be required to complete prerequisite videos before advancing to the next chapters. Additionally, attachments are provided, with annotations indicating the specific timestamps where the materials are referenced in the video.

		.col
			img.img-fluid(src="images/uiux/caps/showcase/2.png")

	.row.align-items-center.my-5
		.col-lg-4.order-lg-last
			h3.text-primary
				strong Course Builder for Leaders and Instructors

			p Leaders and Instructors have the ability to easily create courses, set rules for prerequisites and privacy, upload thumbnails, video materials, and relevant attachments for each chapter. They can save drafts and continue editing later until they are ready to publish the course. Depending on user permission settings, Instructors may need to submit courses for approval before they can be published.

		.col
			img.img-fluid(src="images/uiux/caps/showcase/3.png")

	.row.align-items-center.mt-5
		.col-lg-4
			h3.text-primary
				strong Course Assignments to Employees

			p Leaders and Instructors can assign courses to the entire organization, specific teams, or individual users.

		.col
			img.img-fluid(src="images/uiux/caps/showcase/4.png")

	.row.mt-5.mb-3
		.col-12
			h2
				strong Ongoing Impact

	.row.row-cols-lg-3
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger 3,000+
					p #[strong Teachers and staff] from #[strong 480+ educational organizations] in California

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger 425
					p #[strong Official instructors] on the platform

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger 142
					p Active #[strong courses]

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger 100
					p Average #[strong assignments] per organization

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger 29%
					p Average #[strong assignment completion] per org

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger 17%
					p Average #[strong assignment in progress] per org