extends ../_case-study

block main
	.my-4
		img.img-fluid.border.border-danger.rounded-4(src="images/uiux/beyondsst/landing.png")

	small.text-primary
		strong FULL CASE STUDY
	h1
		| #[strong.text-danger Transforming the collaboration experience for Student Success Teams]
		| (SST), resulting in a 50% increase in user adoption and a 200% boost in revenue

	p 🖥️ #[strong.text-danger BeyondSST], for CodeStack - San Joaquin Office of Education     🚀 #[strong 1 designer], 1 project manager, 2 engineers, 2 user support specialists

	.row.align-items-center.my-5
		.col-lg.col-12
			h2
				strong Background & Context

			p BeyondSST (Student Success Teams) is a platform first develop in 2009 to transition lengthy paper intervention forms into a digital format, but the system struggled as the digital version didn’t offer a seamless, user-friendly experience.

			p As the lead and only UI/UX Specialist for this project, I listened to our users and learned why the platform was not reaching its full potential to truly provide convenience and efficiency to the SST members and their process and allow them to plan what’s best for their students. I advocated for our current, returning and future users, gaining buy-in from directors and the project manager for a complete platform overhaul. Despite the time crunch, I argued that a simple visual refresh wouldn't be enough. #[strong Transforming the user experience was key to re-engaging our users and ensuring the success of the Student Success Teams and their students.]

		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/1.png")

	img.img-fluid(src="images/uiux/beyondsst/case-study/2.png")

	h2
		strong User Problems

	dl
		dt 🤦‍♀️ "I can't even find where to go. We'd rather go back to paper forms."
		dd.mb-5 &bull; The original system was built with the goal of converting paper forms for student intervention plans into web forms. Over the years, new features were added on top of each other without regard for design and user flows. As a result, BeyondSST became an unwieldy and overcomplicated platform that users did not enjoy using. In addition to that, users were forced to navigate through multiple screens just to reach their single area of focus. Not only did this slow down their capacity to complete their assigned workload, it also trained them not to meaningfully engage with their work as logging in became a long series of unnecessary steps performed again and again. Instead of providing convenience, users were willing to just go back to using paper forms if it meant that they did not have to deal with difficulties that came with "technology."

		dt ⌛ "I have to wait for my other team member to finish working on the form before I can access the same form."
		dt 😡 "I spent hours working on my intervention plan, only for it to be overwritten by someone else!"
		dd &bull; Forming student success teams and student intervention plans rely heavily on collaboration between teachers, administrators and other school staff members. The system did not allow multiple people editing and/or filling out the web forms at the same time. Furthermore, once a stakeholder fills out the form, the next individual to edit can make direct changes to the previous person's work on the same form, creating conflict and confusion between all members of the team. The system reduced efficiency, rather than improving it.

	h2
		strong Goals

	dl
		dt 👍 Streamline the interface to make complexity approachable
		dd &bull; We need to discover what success truly means to a user and design a user journey that takes them there effortlessly.
		dt 🤝 In-depth focus on collaboration between stakeholders
		dd &bull; We need to design a "Collaboration Mode" experience that emphasizes teamwork, ensuring that team members are working on forms collectively rather than individually. Additionally, we must restructure the system's user permissions to enable multiple members to collaborate simultaneously while preventing the risk of unintentional deletions or alterations to another stakeholder's inputs.

	h2
		strong Designer Responsibilities

	ul
		li Work with the user support specialists to gather user data, feedback, information, stories
		li Define problems and user pain points, set goals and formulate user personas
		li Ideate and conceptualize informed design solutions (involving project manager, user support specialists and software engineers from the early stages for validation)
		li Prototype design solutions to life
		li Present prototypes by phase to the team & stakeholders for buy-in and approval
		li Work with software engineers in implementing user workflows & features

	h2
		strong Ideation

	img.img-fluid(src="images/uiux/beyondsst/case-study/3.png")

	dl
		dt How Might We...
		dd
			ul
				li Lessen rabbit holing and enable the user to navigate straight to the point?
				li Promote collaboration between intervention team members?
				li Remove frustrations and friction between team members overwriting another's inputs?
				li Highlight accountability and beat the deadlines?

		dt Jobs To Be Done
		dd
			ul
				li Make navigation efficient by landing on a dashboard that serves as a productivity tracker as soon as a user logs in.
				li Declutter the navigation bar to only feature what's important - students listing page.
				li Design a way for the user to have instant access to the list of forms of a specific students without having to change pages
				li Create a collaboration interface for intervention team members to see each other's inputs without allowing them to change or overwrite another member's input.

	p.mt-5
		strong 👍 #[em Streamline the interface to make complexity approachable]

	.row
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/tile/1.png")
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/tile/2.png")
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/tile/3.png")
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/tile/4.png")

	p.mt-5
		strong 🤝 #[em In-depth focus on collaboration between stakeholders]

	.row
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/tile/5.png")
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/tile/6.png")
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/tile/7.png")
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/tile/8.png")

	h2
		strong Solutions

	.row.align-items-center.my-5
		.col-lg-5
			h3.text-primary
				strong Collaboration Experience

			p Success team members no longer need to get locked out of a form while waiting for another member to finish working. Everyone can now access the forms any time they want to and more!

			p When filling out the form, they will see the number of votes per each of the selected intervention plan and team members can choose to upvote selected intervention methods and/or add more. They will not be able to unselect votes from other members.

			p Additionally, members can only enter their inputs, they cannot overwrite other member's comments. They can view other member's comments for more context.
		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/4.png")
			img.img-fluid(src="images/uiux/beyondsst/case-study/5.png")

	.row.align-items-center.my-5
		.col-lg-5.ps-4.mb-3.order-lg-last
			h3.text-primary
				strong Forms Sidebar straight from the Students List

			p No more going through a rabbit hole just to get to the forms that need to be worked on!

			p Before the redesign, one had to click through multiple views to get to the list of forms per student.

			img.img-fluid.ms-2(src="images/uiux/beyondsst/case-study/7.png")

		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/6.png")

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary
				strong Focused Navigation Bar

			p Everyone logs into BeyondSST to work on their students' intervention plan, so let's simplify the navigation bar and focus on exactly where they need to be. When they log in, the list of students is the first thing they want to see. The navigation bar highlights just that.

			p Before the redesign, users were able to see everything on their navigation bar regardless of their user type. For example, they are able to see navigational items that are only for administrators. When they try to access these pages, they just see an "access denied" page.

		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/8.png")

	.row.align-items-center.my-5
		.col-lg-4.order-lg-last
			h3.text-primary
				strong Productivity Tracker

			p Let's make this less complicated for everyone by putting everything they need to know in front of them as soon as they log in.

			p Users are able to see important statistics and progress in this dashboard.

		.col
			img.img-fluid(src="images/uiux/beyondsst/case-study/9.png")

	.row.mt-5.mb-3
		.col-12
			h2
				strong Ongoing Impact

	.row.row-cols-lg-4.row-cols-2
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +200%
					p increase in #[strong revenue]
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +50%
					p increase in #[strong students in the system]

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +18%
					p annual growth in #[strong adoption]
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +12%
					p annual growth in #[strong students with successful intervention plans] through the system

	.row
		.col-12
			h2
				strong Reflections

			ul
				li Working with cross-functional teams went smoothly overall, despite initial friction over differing project scopes. By managing feedback effectively and collaborating with user support specialists, I provided key insights that helped secure buy-in from leadership for a full platform overhaul, beyond just a visual refresh. Early involvement of team members turned it into a collaboration, not a battle for design's place at the table, which was crucial to the project's success.

				li Learning a sprawling system pieced together over the years was a challenging adventure.

				li Seeing the audience's smiles and hearing their applause as we unveiled and demoed the new platform at CodeStack's annual conference was incredibly rewarding.

				li SSTs handle dozens of complex forms for each student every day. Due to legal and official policies, we were not authorized to completely reinvent the process of filling them out. If this constraint didn't exist, I would have loved the opportunity to design a tailor-made workflows for each form, further improving efficiency and enhancing the overall experience for our SSTs as they dedicate their hardwork to their students' success.