extends ../_showcase

block main
	.my-4
		img.img-fluid.border.border-danger.rounded-4(src="images/uiux/beyondsst/landing.png")

	small.text-primary
		strong SHOWCASE
	h1
		| #[strong.text-danger Transforming the collaboration experience for Student Success Teams]
		| (SST), resulting in a 50% increase in user adoption and a 200% boost in revenue

	small 🖥️ #[strong.text-danger BeyondSST], for CodeStack - San Joaquin Office of Education     🚀 #[strong 1 designer], 5 cross-functional team members

	h2
		strong User Problems

	ul.list-unstyled
		li 🤦‍♀️
			span.fst-italic “I can't even find where to go, we'd rather go back to paper forms.”
		li 😡
			span.fst-italic “I spent hours working on my intervention plan, only for it to be overwritten by someone else!”
		li ⌛
			span.fst-italic “I have to wait for my other team member to finish working on the form before I can access the same form.”

	h2
		strong Solutions

	.row.align-items-center.my-5
		.col-lg-5
			h3.text-primary
				strong Collaboration Experience

			p Success team members no longer need to get locked out of a form while waiting for another member to finish working. Everyone can now access the forms any time they want to and more!

			p When filling out the form, they will see the number of votes per each of the selected intervention plan and team members can choose to upvote selected intervention methods and/or add more. They will not be able to unselect votes from other members.

			p Additionally, members can only enter their inputs, they cannot overwrite other member's comments. They can view other member's comments for more context.
		.col
			img.img-fluid(src="images/uiux/beyondsst/showcase/1.png")
			img.img-fluid(src="images/uiux/beyondsst/showcase/2.png")

	.row.align-items-center.my-5
		.col-lg-5.mb-3.ps-4.order-lg-last
			h3.text-primary
				strong Forms Sidebar straight from the Students List

			p No more going through a rabbit hole just to get to the forms that need to be worked on!

			img.img-fluid.ms-2(src="images/uiux/beyondsst/showcase/4.png")
		.col
			img.img-fluid(src="images/uiux/beyondsst/showcase/3.png")

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary
				strong Focused Navigation Bar

			p Everyone logs into BeyondSST to work on their students' intervention plan, so let's simplify the navigation bar and focus on exactly where they need to be.

		.col
			img.img-fluid(src="images/uiux/beyondsst/showcase/5.png")

	.row.align-items-center.my-5
		.col-lg-4.order-lg-last
			h3.text-primary
				strong Productivity Tracker

			p Let's make this less complicated for everyone by putting everything they need to know in front of them as soon as they log in.

		.col
			img.img-fluid(src="images/uiux/beyondsst/showcase/6.png")

	.row.mt-5.mb-3
		.col-12
			h2
				strong Ongoing Impact

	.row.row-cols-lg-4.row-cols-2
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +200%
					p increase in #[strong revenue]
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +50%
					p increase in #[strong students in the system]

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +18%
					p annual growth in #[strong adoption]
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +12%
					p annual growth in #[strong students with successful intervention plans] through the system

	h2
		strong Want a deeper dive?

	p
		a.btn.btn-outline-primary.rounded-4(href="/beyondsst/case-study") 📄 Full Case Study
