extends ../_showcase

block main
	.my-4
		img.img-fluid.border.border-danger.rounded-4(src="images/uiux/beyondsst/landing.png")

	small.text-primary
		strong SHOWCASE
	h1
		| #[strong.text-danger Empowering teachers and staff towards their students' success]
		| , resulting in a 50% increase in user adoption and a 200% boost in revenue

	small 🖥️ #[strong.text-danger BeyondSST], for CodeStack - San Joaquin Office of Education     🚀 #[strong 1 designer], 5 cross-functional team members

	.row.mt-5.mb-3
		.col-12
			h2
				strong We've helped our teachers and staff to advocate for their students' success, and more!

	.row.row-cols-lg-4.row-cols-2
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body.align-content-center
					strong.fs-1.text-danger +200%
					p increase in #[strong revenue]
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body.align-content-center
					strong.fs-1.text-danger +50%
					p increase in #[strong students in the system]

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body.align-content-center
					strong.fs-1.text-danger +18%
					p annual growth in #[strong adoption]
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body.align-content-center
					strong.fs-1.text-danger +12%
					p annual growth in #[strong students with successful intervention plans] through the system

	h2.pt-5
		strong So, why did teachers and staff struggle to adapt to the old system?

	.row.my-5
		.col-md-4.col-12
			p.text-primary.fs-5
				strong Navigation issues
			p It was either impossible or time consuming to get to the student's form that a user needs to work on.
		.col-md-4.col-12
			p.text-primary.fs-5
				strong Errors hindering collaboration
			p A form was only accessible to one person at a given time and also does not have any collaboration features, failing to simulate a round table discussion virtually.
		.col-md-4.col-12
			p.text-primary.fs-5
				strong Lack of version control
			p Team members worked on the same copy of a form so inputs can be overwritten intentionally or unintentionally, without a way to revert or track changes.

	h2.pt-5
		strong Transforming their digital experience beyond paper forms

	.row.align-items-center.my-5
		.col-lg-5
			h3.text-primary.fs-5
				strong Collaboration Experience

			ul
				li Everyone has their own access to the forms without getting locked out.
				li Easily upvote other team members' votes through the Quick Selection view.
				li Voted options cannot be deselected by others.
				li Use dropdown input to browse through all options, search for existing options or add new ones.

		.col
			img.img-fluid(src="images/uiux/beyondsst/showcase/1.png")

	hr

	.row.my-5
		.col-12
			h3.text-primary.fs-5
				strong Dropdown States
		.col
			p
				strong Browsing through existing options
			img.img-fluid.rounded.shadow-sm(src="images/uiux/beyondsst/showcase/2.png")
		.col
			p
				strong Adding custom option
			img.img-fluid.rounded.shadow-sm(src="images/uiux/beyondsst/showcase/3.png")

	hr

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary.fs-5
				strong Additional Info Display

			ul
				li Team members can now read through other members' inputs without being able to overwrite them.
				li There is a name indicator per each input so users know whose comment is which.

		.col
			img.img-fluid(src="images/uiux/beyondsst/showcase/4.png")

	hr

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary.fs-5
				strong Forms Library

			ul
				li Access a student form straight from the Students listing page or wherever the Student Identification component is.
				li Look out for the red dot indicator that indicate form overdue status.
				li Select one or more forms to download as one file.

		.col
			img.img-fluid(src="images/uiux/beyondsst/showcase/5.png")

			p.ps-4.ps-lg-5
				strong Student Identification Component
			img.img-fluid.w-75(src="images/uiux/beyondsst/showcase/6.png")

	hr

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary.fs-5
				strong Focused Navigation

			ul
				li We simplified the navigation bar to focus only on places that they need to be.
				li We want to avoid unnecessary confusion by removing navigational items that only administrators have access to, instead of letting users get there and showing them a “Access Denied” message.

		.col-lg-7.offset-lg-1
			img.img-fluid(src="images/uiux/beyondsst/showcase/7.png")
			img.img-fluid(src="images/uiux/beyondsst/showcase/8.png")

	hr

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary.fs-5
				strong Dues Tracker and Stats

			ul
				li As soon as the user signs in, we want to highlight what exactly needs to be done for maximum efficiency.
				li We also added student stats that are important to the users and the schools.

		.col
			img.img-fluid(src="images/uiux/beyondsst/showcase/9.png")

	h2
		strong Want a deeper dive?

	p
		a.btn.btn-outline-primary.rounded-4(href="/case-studies/beyondsst/beyondsst-case-study.pdf") 📄 Full Case Study
