@use '../node_modules/bootstrap/scss/bootstrap.scss' with (
	$enable-negative-margins: true,
	$font-family-sans-serif: "Inter",
	$primary: #0855E3,
	$danger: #B71D84,
);

@use 'fonts/inter';

body {
	@extend .container;

	background-image: url(images/wavy-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 3.2rem 5rem;
}

h2 {
	@extend .mt-5;
	@extend .mb-3;
}

img {
	transition-duration: 500ms;

	&:hover {
		transform: scale(103%);
	}
}

a.btn {
	@extend .mb-2;
	@extend .me-2;
	font-weight: bold;
}

.border-dash {
	border-style: dashed;
}