@use 'fonts/inter';

$enable-negative-margins: true;
$font-family-sans-serif: "Inter";
$primary: #0855E3;
$danger: #B71D84;

@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
	@extend .container;

	background-image: url(images/wavy-bg.png);
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 3.2rem 0;

	@include media-breakpoint-down(sm) {
		padding: 3.2rem 2.3rem;
	}
}

h2 {
	@extend .mt-5;
	@extend .mb-3;
}

img {
	transition-duration: 500ms;

	&:hover {
		transform: scale(103%);
	}
}

a.btn {
	@extend .mb-2;
	@extend .me-2;
	font-weight: bold;
}

.border-dash {
	border-style: dashed;
}