footer {
	font-size: 2rem;
	font-family: $input;
	font-style: italic;
	padding: 1rem;
	color: white;

	@include media-breakpoint-down(sm) {
		font-size: 0.95rem;
	}
	@include media-breakpoint-down(xs) {
		font-size: 0.75rem;
	}
}
