footer {
	display: flex;
	flex-direction: column;
	background-image: url('../../images/footer-bg.png');
	font-size: 2em;
	font-family: $input;
	font-weight: 200;
	font-style: italic;
	padding: 1.25rem 1rem;
}
