#hero {
	display: flex;
	align-items: center;
	justify-content: center;

	img {
		transition: all 1s ease-in-out;
		animation: fadeIn ease-in 1s;

		&.lower-in {
			transform: translate(0, 1rem);
		}
	}

	h3 {
		transition: all 1s ease-in-out;
		animation: fadeIn ease-in 1s;
	}
}
