#hero {
	display: flex;
	align-items: center;
	justify-content: center;
	//background-image: url('../../images/hero.png');
	//background-repeat: no-repeat;
	//background-size: cover;
	//background-position: right;
	//background-color: $dark-blue;
}
