nav {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	display: flex;
	top: 0;
	z-index: 100;

	a {
		border-bottom: 0.23rem solid transparent;

		&.border-info {
			font-weight: 700 !important;
		}
	}

	> .d-inline-flex {
		flex-grow: 1;
		justify-content: flex-end;
	}

	button {
		border: none !important;

		.navbar-hb-one,
		.navbar-hb-two,
		.navbar-hb-three {
			border-radius: 3px;
			height: 4px;
			width: 2rem;
			margin-bottom: 0.32rem;
			background-color: white;
			transition: transform 0.5s;
		}

		&.menu-open {
			.navbar-hb-one {
				transform: translate(0, 0.55rem) rotate(45deg);
			}
			.navbar-hb-two {
				transform: translate(100rem);
			}
			.navbar-hb-three {
				transform: translate(0, -0.6rem) rotate(135deg);
			}
		}
	}

	@include media-breakpoint-down(sm) {
		img {
			width: 69px;
		}

		.navbar-collapse {
			position: absolute !important;
			left: 0;
			right: 0;
			background-color: $dark-blue;
			text-align: center;

			.border-info {
				border: 0px !important;
			}
		}
	}

	@include media-breakpoint-down(xs) {
		img {
			width: 46px;
		}
	}
}

.navbar-dark .navbar-nav .nav-link {
	font-family: $input;
	font-weight: 200;
	font-style: italic;
	padding-right: 1rem;
	padding-left: 1rem;
	color: white;

	&:hover {
		color: $salmon;
	}
}

.navbar-brand {
	font-family: $input;
	font-weight: 400;
	font-style: italic;
}

.border-info {
	border-color: $pink !important;
}
