extends ../_case-study

block main
	.my-4
		img.img-fluid.border.border-danger.rounded-4(src="images/uiux/promenade/landing.png")

	small.text-primary
		strong FULL CASE STUDY
	h1
		| #[strong.text-danger Optimizing the customer order experience], serving 42% growth in orders & revenue for our Restaurant partners

	p 🖥️ #[strong.text-danger Promenade for Restaurants], for Promenade     🚀 #[strong 1 designer], 1 product manager, 1 engineering manager, 2 engineers, 1 SDET, 1 CSA


	h2
		strong Defining the Problem and the Root Causes

	p Based on the feedback we received from our partners and their customers, I led brainstorming sessions with my product manager and a customer success associate to understand why order volume and revenue have remained stagnant across all our restaurant partners. I documented our observations throughout the ordering journey and connected the insights to kick off the ideation process for potential solutions.

	p From this list of issues, here is how we defined the main problem that we want to solve and what the root causes that we need to overcome in order to give our partners' customers satisfactory ordering journey, which in turn will increase the order volume and revenue of our partners.

	img.img-fluid(src="images/uiux/promenade/case-study/1.png")

	ul
		li Customers are dropping off without completing their orders, leading to a lower volume of orders for our restaurant partners and negatively impacting their revenue through our platform.
			ul
				li Customers get frustrated with the overall convoluted journey of finding and adding food to cart to checking out
				li It leads to confusion when they are redirected to a different page every time they click on something, losing their browsing position
				li They have a hard time understanding and managing what's in their cart due to lack of essential information

	h2
		strong Ideation

	p Now that we have a clear understanding of the factors preventing our end users from completing their orders, I began ideating solutions to address these challenges. My goal was to design the page so customers could easily browse the menu on a single page, minimizing unnecessary navigation steps. Additionally, I wanted to ensure they could manage their cart without losing their place in the menu. Through research and a thorough competitor analysis, I identified best practices and broke them down into specific elements of the journey to shape the customer experience.

	img.img-fluid(src="images/uiux/promenade/case-study/2.png")

	p I worked closely with my engineering manager and the rest of the engineering team to nail down the feasibility of these ideas, define the non-negotiables and meet halfway where we can. We want to solidify a proper list of functionalities that will for sure be doable before I even get to prototyping. Because of time crunch, we want to make sure that I only focus my time and energy on prototyping the features that will definitely make it to the actual product.

	p Based on our data, 36% of our partners' customers use their mobile devices to place orders, so I made sure to include mobile considerations for the platform, making sure the design accommodates a mobile-first approach, as well as slight modifications to controls and displays specifically for mobile viewports.

	img.img-fluid(src="images/uiux/promenade/case-study/3.png")

	h2
		strong Solutions

	.row.align-items-center.my-5
		.col-12
			h3.text-primary
				strong One-Page Menu

			p Our new ordering platform features sidebar category links that allow for smooth scrolling to the customer’s desired section, making menu discovery effortless for our end users.
		.col-12
			img.img-fluid(src="images/uiux/promenade/case-study/4.png")

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary
				strong Instant Cart Addition

			p When food items require no configurations, customers are now able to instantly add them to your cart, saving valuable time and simplifying the ordering journey.

		.col
			img.img-fluid(src="images/uiux/promenade/case-study/5.png")

	.row.align-items-center.my-5
		.col
			img.img-fluid(src="images/uiux/promenade/case-study/6.png")

		.col-lg-4
			h3.text-primary
				strong Product Details Modal

			p This lets the customer dive deeper into a specific item without losing their browsing progress. Configure customization and easily add food and/or beverages to cart, all while staying on the shop page to discover the rest of the menu.

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary
				strong Quick Cart Access

			p The cart now resides as a convenient right-hand side sliding sidebar, providing quick and easy access while browsing the menu. On the same sidebar, customers can easily adjust item quantities, make additions, or revisit the product details modal to fine-tune configurations and customization.

		.col
			img.img-fluid(src="images/uiux/promenade/case-study/7.png")

	.row.mt-5.mb-3
		.col-12
			h2
				strong Ongoing Impact

	.row.row-cols-lg-3
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +42%
					p increase in #[strong orders] across all of our Restaurant partners

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +43%
					p boost in #[strong gross merchandise value] (GMV)

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +25%
					p #[strong growth] in Restaurant Partners