extends ../_showcase

block main
	.my-4
		img.img-fluid.border.border-danger.rounded-4(src="images/uiux/promenade/landing.png")

	small.text-primary
		strong SHOWCASE
	h1
		| #[strong.text-danger Optimizing the customer order experience], serving 42% growth in orders & revenue for our Restaurant partners

	p 🖥️ #[strong.text-danger Promenade for Restaurants], for Promenade     🚀 #[strong 1 designer], 1 product manager, 1 engineering manager, 2 engineers, 1 SDET, 1 CSA

	h2
		strong Problems

	ul
		li Customers are dropping off without completing their orders, leading to a lower volume of orders for our restaurant partners and negatively impacting their revenue through our platform.
			ul
				li Customers get frustrated with the overall convoluted journey of finding and adding food to cart to checking out
				li It leads to confusion when they are redirected to a different page every time they click on something, losing their browsing position
				li They have a hard time understanding and managing what’s in their cart due to lack of essential information

	h2
		strong Solutions

	.row.align-items-center.my-5
		.col-12
			h3.text-primary
				strong One-Page Menu

			p Our new ordering platform features sidebar category links that allow for smooth scrolling to the customer’s desired section, making menu discovery effortless for our end users.
		.col-12
			img.img-fluid(src="images/uiux/promenade/showcase/1.png")

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary
				strong Instant Cart Addition

			p When food items require no configurations, customers are now able to instantly add them to your cart, saving valuable time and simplifying the ordering journey.

		.col
			img.img-fluid(src="images/uiux/promenade/showcase/2.png")

	.row.align-items-center.my-5
		.col
			img.img-fluid(src="images/uiux/promenade/showcase/3.png")

		.col-lg-4
			h3.text-primary
				strong Product Details Modal

			p This lets the customer dive deeper into a specific item without losing their browsing progress. Configure customization and easily add food and/or beverages to cart, all while staying on the shop page to discover the rest of the menu.

	.row.align-items-center.my-5
		.col-lg-4
			h3.text-primary
				strong Quick Cart Access

			p The cart now resides as a convenient right-hand side sliding sidebar, providing quick and easy access while browsing the menu. On the same sidebar, customers can easily adjust item quantities, make additions, or revisit the product details modal to fine-tune configurations and customization.

		.col
			img.img-fluid(src="images/uiux/promenade/showcase/4.png")

	.row.mt-5.mb-3
		.col-12
			h2
				strong Ongoing Impact

	.row.row-cols-lg-3
		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +42%
					p increase in #[strong orders] across all of our Restaurant partners

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +43%
					p boost in #[strong GMV]

		.col.mb-3
			.card.h-100.text-center.border-danger.border-dash
				.card-body
					strong.fs-1.text-danger +25%
					p #[strong growth] in Restaurant Partners

	p
		a.btn.btn-outline-primary.rounded-4(href="/promenade/case-study") 📄 Full Case Study