@import 'colors';
@import 'typekit';
@import 'typo';
@import 'linktree';

html,
body {
	height: 100%;
	overflow-x: hidden;
}

main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.main-content {
	align-items: center;
	background-color: $white;
	width: 100%;
	justify-content: space-around;
	padding-top: 2.3rem;
}
