extends ../index

block main
	.main-content
		.container
			h2
				span about
			.row.mt-5
				.col-lg-4.mb-3.text-center
					img.img-fluid(src="images/joanne.png", alt="Joanne's photo")

				.col-lg-8
					p Hello! I am Joanne Rocafort, a California-based, Philippines-grown multimedia designer. I specialize in UI/UX web & app design, print design and photography. I currently work at CEDR Systems, the software development department of San Joaquin County Office of Education. I am an alumnae of De La Salle-College of Saint Benilde in Manila, Philippines with a bachelor of arts degree in Multimedia Arts. I have more than 4 years experience working with different types of media and developing effective relationships with clients.
					p I love Kinder Bueno. I'm glad Walmart sells them now.
					p I will now let my folio speak for itself. If you like what you see, please feel free to #[a(href="mailto:joannemarie.rocafort@gmail.com") contact me] for more information.
					p Welcome to rocafoliort!
