extends ../index

block main
	.main-content
		.container
			h2
				span about
			.row.mt-5
				.col-lg-4.mb-3.text-center
					img.img-fluid(src="images/joanne.png", alt="Joanne's photo")

				.col-lg-8
					p Hello! I am Joanne Rocafort, a California-based, Philippines-grown multimedia designer. I specialize in UI/UX web & app design, print design and photography. I currently work at CEDR Systems, the software development department of San Joaquin County Office of Education. I am an alumnae of De La Salle-College of Saint Benilde in Manila, Philippines with a bachelor of arts degree in Multimedia Arts. I have more than 4 years experience working with different types of media and developing effective relationships with clients.
					p I love Kinder Bueno. I'm glad Walmart sells them now.
					p I will now let my folio speak for itself. If you like what you see, please feel free to #[a(href="mailto:joannemarie.rocafort@gmail.com") contact me] for more information.
					p Welcome to rocafoliort!

			.row.text-center
				.col-lg-4.mb-4
					img.mb-4(src="images/tool.svg", alt="3D glasses icon" height="50")
					h3 Toolkit
					ul
						li Adobe XD
						li Git
						li Yarn
						li Node.js
						li VSCode
						li VS Team Services
						li Adobe Photoshop, InDesign and Illustrator
						li Adobe Lightroom Classic
						li Adobe Premiere Pro

				.col-lg-4.mb-4
					img.mb-3(src="images/frontend.svg", alt="Laptop icon" height="60")
					h3 Front-end kit
					ul
						li HTML
						li CSS
						li SASS
						li jQuery
						li JavaScript
						li Bootstrap framework
						li C#/MVC
						li Pug

				.col-lg-4.mb-4
					img.mb-3(src="images/soft.svg", alt="Sun icon" height="60")
					h3 Soft skills
					ul
						li Client communication
						li Collaboration
						li Independence
						li
							em "Sunny disposition"
						li
							em "Snazzy dresser"
						li Karaoke singing
						li Jokes
						li 5 star rice eater
