extends ../index

block main
	.main-content
		.container
				h2
						span graphic/layout
				p.mt-5 I design graphics and layouts for digital content, print and branding. My mission is to make a cohesive feel for a brand. I work with marketing collaterals released for public viewing, whether it be facade banners, signs, social media postings, presentation decks, letterheads, flyers, etc.

				.row
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/selpa.png" alt="San Joaquin County SELPA logo")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/tcsj.png" alt="Teachers College of San Joaquin 2020 rebrand")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/rvr.png" alt="RVR Discord Logo")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/codestack.png" alt="Code Stack Academy Flyer")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/lodi-usd.png" alt="Lodi USD Flyer")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-1.png" alt="CSC2019 Mezzanine Banner")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-2.png" alt="CSC2019 Facade Banners")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-3.png" alt="CSC2019 Registration Booths")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-4.png" alt="CSC2019 Charging Station")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-5.png" alt="CSC2019 App sign")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-6.png" alt="CSC2019 Directional sign")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/gvcc.png" alt="GVCC Flyer")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/gvcc2.png" alt="GVCC Flyer")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2018-1.png" alt="CSC2018 Badge design")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2018-2.png" alt="CSC2018 Registration Booth")
