#hero.container-fluid
	section.text-center
		img(src="images/lg-logo.png" alt="rocafoliort large logo")

		h1.text-white rocafoliort
		br
		//- a(href="pages/about.html")
				i.fa.fa-3x.mb-3.mint.fa-chevron-circle-down
				br
				span.bb about
