html(lang="en")
	head
		base(href="/")
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')

		link(rel="stylesheet" href="https://use.typekit.net/jty6luf.css")
		link(rel="stylesheet" href="style.css")
		title rocafort.design - links

		body#linktree
			.container-fluid
				.row
					.col-12.header.p-2
							img.ml-2(src="../images/linktree/dots.svg").img-fluid
							strong.ml-3 rocafort.design - Links
			.container
				.row
					.col-xl-6.m-auto.text-center
						img(src="../images/linktree/logo.svg").img-fluid
						br
						a.btn.btn-primary.btn-block.special.py-3(href="https://youtu.be/Hxjk4BVElt4", target="_blank")
							img(src="../images/linktree/video.svg").mr-3
							| Latest CodeStack Meetup Design Q&A
						br
						a.btn.btn-primary.btn-block.twitter.py-3(href="https://twitter.com/rocafortjo", target="_blank")
							img(src="../images/linktree/twitter.svg").mr-3
							| Twitter @rocafortjo
						br
						a.btn.btn-primary.btn-block.folio.py-3(href="https://rocafort.design", target="_blank")
							img(src="../images/linktree/folio.svg").mr-3
							| Portfolio @ rocafort.design
						br
						a.btn.btn-primary.btn-block.linkedin.py-3(href="https://www.linkedin.com/in/joannerocaf/", target="_blank")
							img(src="../images/linktree/in.svg").mr-3
							| LinkedIn @joannerocaf
						br
						a.btn.btn-primary.btn-block.insta.py-3(href="https://instagram.com/joannerocaf", target="_blank")
							img(src="../images/linktree/ig.svg").mr-3
							| Instagram @joannerocaf


			script(type="module" src="browser.js")
