extends ../index

block main
	.main-content
		.container
				h2
						span print design
				p.mt-5 I design layouts and graphics for both print and digital branding and marketing.

				.row
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/codestack.png", alt="Code Stack Academy Flyer")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/lodi-usd.png", alt="Lodi USD Flyer")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-1.png", alt="CSC2019 Mezzanine Banner")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-2.png", alt="CSC2019 Facade Banners")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-3.png", alt="CSC2019 Registration Booths")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-4.png", alt="CSC2019 Charging Station")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-5.png", alt="CSC2019 App sign")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2019-6.png", alt="CSC2019 Directional sign")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/gvcc.png", alt="GVCC Flyer")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/gvcc2.png", alt="GVCC Flyer")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2018-1.png", alt="CSC2018 Badge design")
						.col-md-6.mb-4
								img.img-fluid(src="../images/print/csc2018-2.png", alt="CSC2018 Registration Booth")
