extends ../index

block main
	.main-content
		.container#uiux
				h2
						span ui/ux design
				p.mt-5 I spend most of my hours putting myself in the perspective of the website and/or app's user. From the conceptual stage I work with stakeholders to brainstorm, design and provide solutions to user problems. I research user patterns to design a user-friendly product. I translate these ideas and concepts as prototypes for stakeholders to test and preview. These prototypes are then encoded with life by myself or programmers in our team.

				.row
					.col-md-6.mb-4
						a(href="http://pitchazo.org" target="pitchazo")
							video.w-100(src="../videos/pitchazo.mp4" autoplay loop muted title="Pitchazo website")

					.col-md-6.mb-4
						a(href="http://codestack.org" target="codestack")
							img.img-fluid(src="../images/uiux/codestack2020.png" loading="lazy" alt="CodeStack website")
					.col-md-6.mb-4
						img.img-fluid(src="../images/uiux/csc2020.png" loading="lazy" alt="CSC2020 Website")
					.col-md-6.mb-4
						a(href="http://beta.seis.org" target="seis")
							img.img-fluid(src="../images/uiux/service-tracker.png" loading="lazy" alt="SEIS Service Tracker app")

					.col-md-6.mb-4
						a(href="http://cedrconf.org" target="cedrconf")
							video.w-100(src="../videos/cedrconf19.mp4" autoplay loop muted title="CEDR Conference 2019 website")
					.col-md-6.mb-4
						a(href="http://caschooldashboard.org" target="casd")
							video.w-100(src="../videos/caschooldash.mp4" autoplay loop muted title="CA School Dashboard app")
					.col-md-6.mb-4
						a(href="http://capmse.org" target="capmse")
							img.img-fluid(src="../images/uiux/CAPMSE.png" loading="lazy" alt="CAPMSE website")

					.col-md-6.mb-4
						a(href="http://williamsact.org" target="williamsact")
							img.img-fluid(src="../images/uiux/williams.png" loading="lazy" alt="William's Act Inspection web app")


					.col-md-6.mb-4
						a(href="http://teacherscollegesj.edu" target="tcsj")
							video.w-100(src="../videos/TCSJ.mp4" autoplay loop muted title="Teachers College of San Joaquin website")
					.col-md-6.mb-4
						a(href="http://codestackacademy.org" target="codestack")
							video.w-100(src="../videos/codestacku.mp4" autoplay loop muted title="Code Stack Academy website")

					.col-md-6.mb-4
						img.img-fluid(src="../images/uiux/csc2018.png" loading="lazy" alt="CEDR Systems Conference 2018 website")
